<div>
  <mat-card class="mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>Nom des insignes</mat-card-title>
      <mat-card-subtitle>Le quiz du sympathisant</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Quizz très imple permettant d'apprendre le nom des différents insignes.
      <br>
      Très facile.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary" (click)="setMode(gModes.zen)" [routerLink]="['quizNom']" skipLocationChange>Démarrer le quiz</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>Méli Mélooooooo</mat-card-title>
      <mat-card-subtitle>Quiz global qui porte sur différents éléments de la faluche</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Quizz plus compliqué que le précédent et lié à l'apprentissage des différentes significations d'insignes, et autres éléments de la faluche.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary" (click)="setMode(gModes.zen)" [routerLink]="['quizSignification']" skipLocationChange>Démarrer le quiz</button>
    </mat-card-actions>
  </mat-card>
</div>
